Django~=5.2.0
djangorestframework~=3.18.0
django-cors-headers~=4.9.0
django-filter~=26.1
dj-database-url~=3.1.0
python-dotenv~=1.2.0
psycopg2-binary~=2.9.0
gunicorn~=23.0.0
whitenoise~=6.12.0
redis~=8.1.0
celery~=5.6.0
cloudinary~=1.46.0
firebase-admin~=7.5.0
supabase~=2.31.0
PyJWT~=2.10.0
drf-spectacular~=0.30.0